@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

*{
	box-sizing: border-box;
}

p{
	font-family: 'Raleway';
}

h1, h2, h3, h4, h5{
	font-family: 'Raleway';
}

a {
	text-decoration: none;
}


.contenedor {
	max-width: 900px;
	margin: auto;
}

nav .logo {
	display: inline-block;
	height: 20px;

}
	nav {
		padding: 20px;
	}

		.menu {
		display: inline;
		}

		.menu li {
		display: inline-block;
		padding: 5px 10px 5px 10px;
		color: gray;
		list-style: none;
		text-decoration: none;
		text-transform: uppercase;
		float: right;
		font-family: 'Lato', sans-serif;
		color: #8A8A8A;
		}
		
		.menu a{
		color: #8A8A8A;			
		}
		.menu a:hover{
		color: #00AEFF;			
		}


header {
	background: url(../img/indexbanner-bg3.jpg);
	height: 500px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
/*
.section1{
margin-top: -50px;
width: 800px;
height: auto;	
} */

form .form {
	height: 80px;
	margin-top: -63px;
	max-width: 900px;
	margin-left: 35px;
}

#completar {
	margin-right: 0px;
	width: 700px;
	height: 50px;
	font-family:'Raleway';
	padding: 5px;
}
.botonsearch {
	height: 53px;
	width: 105px;
	border-style: none;
	margin-top: -2px;
	margin-left: -4px;
	background-color: #00B1F3;
	color: white;
	font-family:'Raleway';
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/*
.form{
width: 100%;
}
.text{
	width: 80%;
	height: 54px;
	border-style: none;
	color: white;
	font-family:'Raleway';
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	margin:0px;
}
.botonsearch {
	position: relative;
	margin-left: -33px;
	border-radius: 1px;
	height: 54px;
	width: 80px;
	border-style: none;
	margin: 0px;
	background-color: #00B1F3;
	color: white;
	font-family:'Raleway';
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
}
*/
.contenido{
	width: 22%;
	text-align: center;
	display: inline-block;
	margin: 10px;
	background-color: red;
}

.contenido img{
	width: 80px;
	padding: 5px;
}

.contenido h3{
	font-size: 20px;
	margin: 10px;

}

.contenido p{
	font-size: 12px;
	padding: 5px;
}

.app1{
	width: 30%;
	height: auto;
	display: inline-block;
	background-color:red;
}

.app2{
	width: 30%;
	height: auto;
	display: inline-block;
	background-color:blue;
}
.app3{
	width: 30%;
	height: auto;
	display: inline-block;
	background-color:green;
}
